%text-title{
    font-family:$font-title;
}
%text-subtitle{
    font-family:$font-subtitle;
}
%text-text{
    font-family:$font-text;
}
%text-featured{
    font-family:$font-featured;
}
%text-nav{
    font-family:$font-nav;
}