// Hexadecimal greyscale
$grey-0:#000000;
$grey-1:#030303;
$grey-2:#050505;
$grey-3:#080808;
$grey-4:#0a0a0a;
$grey-5:#0d0d0d;
$grey-6:#0f0f0f;
$grey-7:#121212;
$grey-8:#141414;
$grey-9:#171717;
$grey-10:#1a1a1a;
$grey-11:#1c1c1c;
$grey-12:#1f1f1f;
$grey-13:#212121;
$grey-14:#242424;
$grey-15:#262626;
$grey-16:#292929;
$grey-17:#2b2b2b;
$grey-18:#2e2e2e;
$grey-19:#303030;
$grey-20:#333333;
$grey-21:#363636;
$grey-22:#383838;
$grey-23:#3b3b3b;
$grey-24:#3d3d3d;
$grey-25:#404040;
$grey-26:#424242;
$grey-27:#454545;
$grey-28:#474747;
$grey-29:#4a4a4a;
$grey-30:#4d4d4d;
$grey-31:#4f4f4f;
$grey-32:#525252;
$grey-33:#545454;
$grey-34:#575757;
$grey-35:#595959;
$grey-36:#5c5c5c;
$grey-37:#5e5e5e;
$grey-38:#616161;
$grey-39:#636363;
$grey-40:#666666;
$grey-41:#696969;
$grey-42:#6b6b6b;
$grey-43:#6e6e6e;
$grey-44:#707070;
$grey-45:#737373;
$grey-46:#757575;
$grey-47:#787878;
$grey-48:#7a7a7a;
$grey-49:#7d7d7d;
$grey-50:#808080;
$grey-51:#828282;
$grey-52:#858585;
$grey-53:#878787;
$grey-54:#8a8a8a;
$grey-55:#8c8c8c;
$grey-56:#8f8f8f;
$grey-57:#919191;
$grey-58:#949494;
$grey-59:#969696;
$grey-60:#999999;
$grey-61:#9c9c9c;
$grey-62:#9e9e9e;
$grey-63:#a1a1a1;
$grey-64:#a3a3a3;
$grey-65:#a6a6a6;
$grey-66:#a8a8a8;
$grey-67:#ababab;
$grey-68:#adadad;
$grey-69:#b0b0b0;
$grey-70:#b3b3b3;
$grey-71:#b5b5b5;
$grey-72:#b8b8b8;
$grey-73:#bababa;
$grey-74:#bdbdbd;
$grey-75:#bfbfbf;
$grey-76:#c2c2c2;
$grey-77:#c4c4c4;
$grey-78:#c7c7c7;
$grey-79:#c9c9c9;
$grey-80:#cccccc;
$grey-81:#cfcfcf;
$grey-82:#d1d1d1;
$grey-83:#d4d4d4;
$grey-84:#d6d6d6;
$grey-85:#d9d9d9;
$grey-86:#dbdbdb;
$grey-87:#dedede;
$grey-88:#e0e0e0;
$grey-89:#e3e3e3;
$grey-90:#e5e5e5;
$grey-91:#e8e8e8;
$grey-92:#ebebeb;
$grey-93:#ededed;
$grey-94:#f0f0f0;
$grey-95:#f2f2f2;
$grey-96:#f5f5f5;
$grey-97:#f7f7f7;
$grey-98:#fafafa;
$grey-99:#fcfcfc;
$grey-100:#ffffff;

// RGB greyscale
$grey-r0:rgb(0,0,0);
$grey-r1:rgb(1,1,1);
$grey-r2:rgb(2,2,2);
$grey-r3:rgb(3,3,3);
$grey-r4:rgb(4,4,4);
$grey-r5:rgb(5,5,5);
$grey-r6:rgb(6,6,6);
$grey-r7:rgb(7,7,7);
$grey-r8:rgb(8,8,8);
$grey-r9:rgb(9,9,9);
$grey-r10:rgb(10,10,10);
$grey-r11:rgb(11,11,11);
$grey-r12:rgb(12,12,12);
$grey-r13:rgb(13,13,13);
$grey-r14:rgb(14,14,14);
$grey-r15:rgb(15,15,15);
$grey-r16:rgb(16,16,16);
$grey-r17:rgb(17,17,17);
$grey-r18:rgb(18,18,18);
$grey-r19:rgb(19,19,19);
$grey-r20:rgb(20,20,20);
$grey-r21:rgb(21,21,21);
$grey-r22:rgb(22,22,22);
$grey-r23:rgb(23,23,23);
$grey-r24:rgb(24,24,24);
$grey-r25:rgb(25,25,25);
$grey-r26:rgb(26,26,26);
$grey-r27:rgb(27,27,27);
$grey-r28:rgb(28,28,28);
$grey-r29:rgb(29,29,29);
$grey-r30:rgb(30,30,30);
$grey-r31:rgb(31,31,31);
$grey-r32:rgb(32,32,32);
$grey-r33:rgb(33,33,33);
$grey-r34:rgb(34,34,34);
$grey-r35:rgb(35,35,35);
$grey-r36:rgb(36,36,36);
$grey-r37:rgb(37,37,37);
$grey-r38:rgb(38,38,38);
$grey-r39:rgb(39,39,39);
$grey-r40:rgb(40,40,40);
$grey-r41:rgb(41,41,41);
$grey-r42:rgb(42,42,42);
$grey-r43:rgb(43,43,43);
$grey-r44:rgb(44,44,44);
$grey-r45:rgb(45,45,45);
$grey-r46:rgb(46,46,46);
$grey-r47:rgb(47,47,47);
$grey-r48:rgb(48,48,48);
$grey-r49:rgb(49,49,49);
$grey-r50:rgb(50,50,50);
$grey-r51:rgb(51,51,51);
$grey-r52:rgb(52,52,52);
$grey-r53:rgb(53,53,53);
$grey-r54:rgb(54,54,54);
$grey-r55:rgb(55,55,55);
$grey-r56:rgb(56,56,56);
$grey-r57:rgb(57,57,57);
$grey-r58:rgb(58,58,58);
$grey-r59:rgb(59,59,59);
$grey-r60:rgb(60,60,60);
$grey-r61:rgb(61,61,61);
$grey-r62:rgb(62,62,62);
$grey-r63:rgb(63,63,63);
$grey-r64:rgb(64,64,64);
$grey-r65:rgb(65,65,65);
$grey-r66:rgb(66,66,66);
$grey-r67:rgb(67,67,67);
$grey-r68:rgb(68,68,68);
$grey-r69:rgb(69,69,69);
$grey-r70:rgb(70,70,70);
$grey-r71:rgb(71,71,71);
$grey-r72:rgb(72,72,72);
$grey-r73:rgb(73,73,73);
$grey-r74:rgb(74,74,74);
$grey-r75:rgb(75,75,75);
$grey-r76:rgb(76,76,76);
$grey-r77:rgb(77,77,77);
$grey-r78:rgb(78,78,78);
$grey-r79:rgb(79,79,79);
$grey-r80:rgb(80,80,80);
$grey-r81:rgb(81,81,81);
$grey-r82:rgb(82,82,82);
$grey-r83:rgb(83,83,83);
$grey-r84:rgb(84,84,84);
$grey-r85:rgb(85,85,85);
$grey-r86:rgb(86,86,86);
$grey-r87:rgb(87,87,87);
$grey-r88:rgb(88,88,88);
$grey-r89:rgb(89,89,89);
$grey-r90:rgb(90,90,90);
$grey-r91:rgb(91,91,91);
$grey-r92:rgb(92,92,92);
$grey-r93:rgb(93,93,93);
$grey-r94:rgb(94,94,94);
$grey-r95:rgb(95,95,95);
$grey-r96:rgb(96,96,96);
$grey-r97:rgb(97,97,97);
$grey-r98:rgb(98,98,98);
$grey-r99:rgb(99,99,99);
$grey-r100:rgb(100,100,100);
$grey-r101:rgb(101,101,101);
$grey-r102:rgb(102,102,102);
$grey-r103:rgb(103,103,103);
$grey-r104:rgb(104,104,104);
$grey-r105:rgb(105,105,105);
$grey-r106:rgb(106,106,106);
$grey-r107:rgb(107,107,107);
$grey-r108:rgb(108,108,108);
$grey-r109:rgb(109,109,109);
$grey-r110:rgb(110,110,110);
$grey-r111:rgb(111,111,111);
$grey-r112:rgb(112,112,112);
$grey-r113:rgb(113,113,113);
$grey-r114:rgb(114,114,114);
$grey-r115:rgb(115,115,115);
$grey-r116:rgb(116,116,116);
$grey-r117:rgb(117,117,117);
$grey-r118:rgb(118,118,118);
$grey-r119:rgb(119,119,119);
$grey-r120:rgb(120,120,120);
$grey-r121:rgb(121,121,121);
$grey-r122:rgb(122,122,122);
$grey-r123:rgb(123,123,123);
$grey-r124:rgb(124,124,124);
$grey-r125:rgb(125,125,125);
$grey-r126:rgb(126,126,126);
$grey-r127:rgb(127,127,127);
$grey-r128:rgb(128,128,128);
$grey-r129:rgb(129,129,129);
$grey-r130:rgb(130,130,130);
$grey-r131:rgb(131,131,131);
$grey-r132:rgb(132,132,132);
$grey-r133:rgb(133,133,133);
$grey-r134:rgb(134,134,134);
$grey-r135:rgb(135,135,135);
$grey-r136:rgb(136,136,136);
$grey-r137:rgb(137,137,137);
$grey-r138:rgb(138,138,138);
$grey-r139:rgb(139,139,139);
$grey-r140:rgb(140,140,140);
$grey-r141:rgb(141,141,141);
$grey-r142:rgb(142,142,142);
$grey-r143:rgb(143,143,143);
$grey-r144:rgb(144,144,144);
$grey-r145:rgb(145,145,145);
$grey-r146:rgb(146,146,146);
$grey-r147:rgb(147,147,147);
$grey-r148:rgb(148,148,148);
$grey-r149:rgb(149,149,149);
$grey-r150:rgb(150,150,150);
$grey-r151:rgb(151,151,151);
$grey-r152:rgb(152,152,152);
$grey-r153:rgb(153,153,153);
$grey-r154:rgb(154,154,154);
$grey-r155:rgb(155,155,155);
$grey-r156:rgb(156,156,156);
$grey-r157:rgb(157,157,157);
$grey-r158:rgb(158,158,158);
$grey-r159:rgb(159,159,159);
$grey-r160:rgb(160,160,160);
$grey-r161:rgb(161,161,161);
$grey-r162:rgb(162,162,162);
$grey-r163:rgb(163,163,163);
$grey-r164:rgb(164,164,164);
$grey-r165:rgb(165,165,165);
$grey-r166:rgb(166,166,166);
$grey-r167:rgb(167,167,167);
$grey-r168:rgb(168,168,168);
$grey-r169:rgb(169,169,169);
$grey-r170:rgb(170,170,170);
$grey-r171:rgb(171,171,171);
$grey-r172:rgb(172,172,172);
$grey-r173:rgb(173,173,173);
$grey-r174:rgb(174,174,174);
$grey-r175:rgb(175,175,175);
$grey-r176:rgb(176,176,176);
$grey-r177:rgb(177,177,177);
$grey-r178:rgb(178,178,178);
$grey-r179:rgb(179,179,179);
$grey-r180:rgb(180,180,180);
$grey-r181:rgb(181,181,181);
$grey-r182:rgb(182,182,182);
$grey-r183:rgb(183,183,183);
$grey-r184:rgb(184,184,184);
$grey-r185:rgb(185,185,185);
$grey-r186:rgb(186,186,186);
$grey-r187:rgb(187,187,187);
$grey-r188:rgb(188,188,188);
$grey-r189:rgb(189,189,189);
$grey-r190:rgb(190,190,190);
$grey-r191:rgb(191,191,191);
$grey-r192:rgb(192,192,192);
$grey-r193:rgb(193,193,193);
$grey-r194:rgb(194,194,194);
$grey-r195:rgb(195,195,195);
$grey-r196:rgb(196,196,196);
$grey-r197:rgb(197,197,197);
$grey-r198:rgb(198,198,198);
$grey-r199:rgb(199,199,199);
$grey-r200:rgb(200,200,200);
$grey-r201:rgb(201,201,201);
$grey-r202:rgb(202,202,202);
$grey-r203:rgb(203,203,203);
$grey-r204:rgb(204,204,204);
$grey-r205:rgb(205,205,205);
$grey-r206:rgb(206,206,206);
$grey-r207:rgb(207,207,207);
$grey-r208:rgb(208,208,208);
$grey-r209:rgb(209,209,209);
$grey-r210:rgb(210,210,210);
$grey-r211:rgb(211,211,211);
$grey-r212:rgb(212,212,212);
$grey-r213:rgb(213,213,213);
$grey-r214:rgb(214,214,214);
$grey-r215:rgb(215,215,215);
$grey-r216:rgb(216,216,216);
$grey-r217:rgb(217,217,217);
$grey-r218:rgb(218,218,218);
$grey-r219:rgb(219,219,219);
$grey-r220:rgb(220,220,220);
$grey-r221:rgb(221,221,221);
$grey-r222:rgb(222,222,222);
$grey-r223:rgb(223,223,223);
$grey-r224:rgb(224,224,224);
$grey-r225:rgb(225,225,225);
$grey-r226:rgb(226,226,226);
$grey-r227:rgb(227,227,227);
$grey-r228:rgb(228,228,228);
$grey-r229:rgb(229,229,229);
$grey-r230:rgb(230,230,230);
$grey-r231:rgb(231,231,231);
$grey-r232:rgb(232,232,232);
$grey-r233:rgb(233,233,233);
$grey-r234:rgb(234,234,234);
$grey-r235:rgb(235,235,235);
$grey-r236:rgb(236,236,236);
$grey-r237:rgb(237,237,237);
$grey-r238:rgb(238,238,238);
$grey-r239:rgb(239,239,239);
$grey-r240:rgb(240,240,240);
$grey-r241:rgb(241,241,241);
$grey-r242:rgb(242,242,242);
$grey-r243:rgb(243,243,243);
$grey-r244:rgb(244,244,244);
$grey-r245:rgb(245,245,245);
$grey-r246:rgb(246,246,246);
$grey-r247:rgb(247,247,247);
$grey-r248:rgb(248,248,248);
$grey-r249:rgb(249,249,249);
$grey-r250:rgb(250,250,250);
$grey-r251:rgb(251,251,251);
$grey-r252:rgb(252,252,252);
$grey-r253:rgb(253,253,253);
$grey-r254:rgb(254,254,254);
$grey-r255:rgb(255,255,255);