// Header
.post-header{
    text-align: center;
}

// Content
.post-content{
    color:$color-post-text;
    font-weight: 300;
    line-height: 1.6;
    text-align:justify;
    a{
        border-bottom: 2px solid $grey-85;
        &:hover{
            border-color:$color-main;
            color:$grey-1;
        }
    }
    p,li{
        
        @include font-sizing($font-size-text, $line-height-text);
    }
    span{
        color:$color-main-light;
        font-weight: 700;
    }
}

// Footer (buttons)
%button-post-style{
    $color:$grey-80;
    background-color:#fff;
    border:1px solid $color;
    color:$color;
    @include button-square-curve(50px, 1px);
}

.post-footer{
    text-align: center;
    & > *{
        $margin:50px;
        margin-bottom:$margin;
        margin-top:$margin;
    }
    @include box-sizing(border-box);
}

.post-share,
.post-nav{
    /*float:right;*/
    a{
        /*@extend %button-post;*/
        @extend %button-post-style;
    }
}
.post-share{
    /*margin-right:20px;*/
    a{
        &.facebook:hover{
            $color-hover:$color-facebook;
            background-color:$color-hover;
            border-color:$color-hover;
            color:$color-light;
        }
        &.twitter:hover{
            $color-hover:$color-twitter;
            background-color:$color-hover;
            border-color:$color-hover;
            color:$color-light;
        }
    }
}
.post-nav a:hover{
    $color-hover:$grey-70;
    background-color:$color-main;
    border-color:$color-main-dark;
    color:$color-light;
}



// Nueva disposición
.post-content,.post-footer{
    @extend .wrapper;
}
.post-container{
    margin-top:20%;
}