// Thumbnail img
.post-thumbnail{
    border:1px solid $grey-90;
    background-color:#fff;
    display:inline-block;
    margin:0 auto 20px;
    max-width: 100%;
    padding:20px;
    @include box-sizing(border-box);
    img{
        display:block;
        max-height: 500px;
    }
}

// Thumbnail background
.post-thumbnail-bg{
    background-color:$color-light;
    background-size:cover;
    display:block;
    height:$height-thumbnail;
    position:fixed;
    top:0;
    width:100%;
    z-index: -1;
    @include opacity(.9);
}